<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% comment %} Aqui va el bloque del title {% endcomment %}
        {% endblock title %}
    </title>
</head>
<body>
    <h1>Estoy en la pagina Inicio</h1>
    <h2>Bienvenido a mi pagina con Django</h2>

    

    {% block content %}
    {% comment %} Aqui va el bloque del title {% endcomment %}
    {% endblock content %}
</body>
</html>